<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Network Address=shared-mysql-db.mysql.database.azure.com;Port=3306; Initial Catalog=stn_dev2; User Name=stn-root@shared-mysql-db;Password=Kd4NzxfjomduTdslOHu4;CharSet=utf8mb4;Max Pool Size=500" />
  </connectionStrings>
  <appSettings>
    <add key="BlobConnection" value="DefaultEndpointsProtocol=https;AccountName=stnstoragedev3;AccountKey=zWer6gbfOd18mKkgs0i/VJpJkUTBOc8f5en/7x1u5ctzQZUyiosKwN2Vhs0QsGKbbE4FicD39Q3E2B883KkN8w==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.3.860" newVersion="2.28.3.860" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>